.container{
	width: 360px;
	height: 150px;
	margin : auto;
	margin-top : 100px;
	border: 1px solid lightgrey;	
}
.button{
	margin-right: 20px;
	margin-left: 60px;
	margin-top: 40px;
	padding: 7px;
	background-color: lightblue;
	color: whitesmoke;
}