<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Angular Assignment-1</title>
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body ng-App ="ButtonApp">
    <div class="container" ng-controller="CountController">
    	<button class="button" ng-click="incrementCount()" >{{ count }} <ng-pluralize count="count" when="{'1':'like', 'other':'likes'}"></ng-pluralize>
    	</button>
    	<button class="button" ng-click= "toggleMethod()"  >{{ text }} 
    	</button>
    	
    </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
